html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0, auto;

  background-color: #f9f9f9; /* под проект */
  font-family: "", Arial, sans-serif; /* в "" свой шрифт под проект*/

  font-size: 18px;
  color: black;
  line-height: 1;
}

button,
input {
  font: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* container */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* при работе с float */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* основная часть */

.main-container {
  max-width: 1000px; /*под проект*/
  margin: 0 auto;
}

.container-totoro {
  margin: 0 auto;
  width: 45%;
}
.main-container-totoro-title {
  display: flex;
  padding-bottom: 30px;
  width: 100%;
}
.card {
  padding-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid blue;
  border-radius: 10px;
}
.card-title {
  padding-bottom: 5px;
  font-size: 4vh;
}

.card-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card-item {
  padding-bottom: 7px;
}
.card-item:nth-last-child(1) {
  padding-bottom: 5px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-button {
  padding: 15px 35px;
  border-radius: 10px;
  background-color: chocolate;
}
.title-button-remove {
  padding: 15px 35px;
  border-radius: 10px;
  background-color: red;
}
.container-totoro-img {
  width: 45%;
}
.totoro-img {
  width: 61%;
  height: 73%;
  border-radius: 25px;
}
/* Section film */
.film-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.film-cards-button-add {
  padding: 15px 35px;
  border-radius: 15px;
  background-color: aqua;
}
.film-cards-container {
  padding-top: 30px;
}
.card-title-film {
  padding-bottom: 15px;
  text-align: center;
}
.card-container-film {
  margin-bottom: 15px;
  padding: 15px 0px 15px 15px;
  border: 2px solid yellowgreen;
  border-radius: 15px;
}

.card-list {
  display: flex;
  flex-direction: column;
}
.card-list-item-all {
  padding-bottom: 7px;
}
.card-list-item-all:nth-last-child(1) {
  padding-bottom: 0px;
}
.film-card-text {
  line-height: 25px;
}
